/* body fonts  */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bungee+Tint&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* heading fonts  */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bungee+Tint&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
    height: 100%;
    margin: 0;
}

.d-flex {
    height: 100vh;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-image: url(asset/bgimg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 15px;
}

.heading {
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.main-container {
    width: 35vw;
    background-image: linear-gradient(to left, rgb(91, 120, 235), rgb(67, 3, 63));
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
}

#result {
    font-weight: 400;
    color: rgb(210, 191, 191);
}

#bmi {
    font-size: 25px;
    color: white;
    font-weight: 700;
    font-family: "Anton", sans-serif;
    letter-spacing: 4px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin: 0 30px;
}

input {
    border-radius: 10px;
    border: none;
    outline: none;
}